/* Theme base styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Global */
:root {
  --primary-color: #B48F72;
  --secondary-color: #000104;
  --primary-color-black: #03091b;
  --accent-color: #B48F72;
  --text-color: #000104;
  --heading-color: #000104;
  --legal-color: #8B929F;
  --font-family-base: 'Montserrat', 'Roboto', sans-serif;
  --font-size-base: 16px;
  --font-size-disclaimer:10px;
  --font-size-heading: clamp(clamp(22px, 2.2vw, 32px));
  --font-size-subheading: 40px;
  --font-size-button: 18px;
  --letter-spacing-base: 5px;
  --font-weight-base: 400;
  --font-weight-thin: 200;
  --font-weight-heading: 500;
  --font-weight-heading-black: 700;
}

/* Tools
Any animations, or functions used throughout the project.
Note: _macros.css needs to be imported into each stylesheet where macros are used and not included here
*/

/* Generic
This is where reset, normalize & box-sizing styles go.
*/

{% include './generic/_reset.css' %}
{% include './generic/_normalize.css' %}

/* Objects
Non-cosmetic design patterns including grid and layout classes)
*/

{% include './objects/_layout.css' %}
{% include './objects/_containers-dnd.css' %}

/* Elements
Base HTML elements are styled in this section (<body>, <h1>, <a>, <p>, <button> etc.)
*/

{% include './elements/_typography.css' %}
{% include './elements/_buttons.css' %}
{% include './elements/_forms.css' %}
{% include './elements/_tables.css' %}

/* Components
Specific pieces of UI that are stylized. Typically used for global partial styling
*/

{% include './components/_header.css' %}
{% include './components/_footer.css' %}
{% include './components/_hero.css' %}
{% include './components/_hero-prototipo.css' %}
{% include './components/_patrimonio.css' %}
{% include './components/_edge.css' %}
{% include './components/_amenidades.css' %}
{% include './components/_entrada.css' %}
{% include './components/_ubicacion.css' %}
{% include './components/_prototipos.css' %}
{% include './components/_faq.css' %}
{% include './components/_articulos.css' %}
{% include './components/_contacto.css' %}
{% include './components/_proto-edge.css' %}
{% include './components/_call-to-action.css' %}
{% include './components/_default-modules.css' %}

/* Utilities
Helper classes with ability to override anything that comes before it
*/

{% include './utilities/_helper.css' %}

*,html,body {
  font-family: "Montserrat", sans-serif !important;
}
