/* Theme base styles */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global */
:root {
  --primary-color: #375CA1;
  --secondary-color: #CBD527;
  --primary-color-black: #33425D;
  --accent-color: #CBD527;
  --text-color: #33425D;
  --heading-color: #375CA1;
  --font-family-base: 'Barlow', 'Roboto', sans-serif;
  --font-size-base: 16px;
  --font-size-disclaimer:10px;
  --font-size-heading: clamp(clamp(22px, 2.2vw, 32px));
  --font-size-subheading: 40px;
  --font-size-button: 18px;
  --letter-spacing-base: 5px;
  --font-weight-base: 400;
  --font-weight-thin: 200;
  --font-weight-heading: 500;
  --font-weight-heading-black: 700;
}

/* Tools
Any animations, or functions used throughout the project.
Note: _macros.css needs to be imported into each stylesheet where macros are used and not included here
*/

/* Generic
This is where reset, normalize & box-sizing styles go.
*/

{% include './generic/_reset.css' %}
{% include './generic/_normalize.css' %}

/* Objects
Non-cosmetic design patterns including grid and layout classes)
*/

{% include './objects/_layout.css' %}
{% include './objects/_containers-dnd.css' %}

/* Elements
Base HTML elements are styled in this section (<body>, <h1>, <a>, <p>, <button> etc.)
*/

{% include './elements/_typography.css' %}
{% include './elements/_buttons.css' %}
{% include './elements/_forms.css' %}
{% include './elements/_tables.css' %}

/* Components
Specific pieces of UI that are stylized. Typically used for global partial styling
*/

{% include './components/_header.css' %}
{% include './components/_hero.css' %}
{% include './components/_patrimonio.css' %}
{% include './components/_edge.css' %}
{% include './components/_amenidades.css' %}
{% include './components/_entrada.css' %}
{% include './components/_ubicacion.css' %}
{% include './components/_prototipos.css' %}
{% include './components/_faq.css' %}
{% include './components/_contacto.css' %}
{% include './components/_default-modules.css' %}

/* Utilities
Helper classes with ability to override anything that comes before it
*/

{% include './utilities/_helper.css' %}

*,html,body {
  font-family: "Barlow", sans-serif !important;
}
